@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color-bg: #9ed8db;
  --primary-button: #33ca7f;
  --width: 95%;
  --max-width-main: 1340px;
  --padding-top-sm: 80px;
  --padding-top-md: 100px;
  --padding-top-lg: 120px;
  --dark-font: #213547;
  --light-font: white;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 130%;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 130%;
  margin-bottom: 20px;
  color: var(--dark-font);
}

h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
}

p {
  font-size: medium;
  line-height: 1.8em;
  width: 95%;
  max-width: 600px;
  color: var(--dark-font);
}

small {
  color: var(--dark-font);
}

a,
a:visited {
  font-weight: 500;
  color: var(--light-font);
  text-decoration: none;
}

body {
  background-color: var(--primary-color-bg);
  overflow-x: hidden;
  /* width: 100%; */
}

button {
  border-radius: 8px;
  border: 1px solid grey;
}
input {
  padding: 20px 15px;
  width: 90%;
  border: none;
  border-radius: 5px;
  max-width: 40rem;
  background-color: white;
}
textarea {
  padding: 15px;
  width: 90%;
  max-width: 40rem;
  border: none;
}

.btn,
.btn a,
.btn a:visited {
  background-color: var(--primary-button);
  border-radius: 6px;
  padding: 10px 20px;
  color: var(--dark-font);
  transition: all 0.5s ease-in-out;
  font-size: medium;
  text-transform: uppercase;
  width: max-content;
  cursor: pointer;
}

.btn-green {
  background-color: rgb(96, 151, 96);
  color: white;
}
.container {
  min-height: 100vh;
  background-color: transparent;
  width: var(--width);
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}

@media (prefers-color-scheme: light) {
}
